<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hieunguyen725.myplaces" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="controller.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="controller.LogInActivity"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="controller.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="controller.LogInActivity">

        </activity>
        <activity
            android:name="controller.NearbySearchActivity"
            android:label="@string/title_activity_nearby_search"
            android:parentActivityName="controller.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="controller.MainActivity" />
        </activity>
        <activity
            android:name="controller.RelatedSearchActivity"
            android:label="@string/title_activity_related_search"
            android:parentActivityName="controller.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="controller.MainActivity" />
        </activity>
        <activity
            android:name="controller.MyPlacesActivity"
            android:label="@string/title_activity_my_places"
            android:parentActivityName="controller.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="controller.MainActivity" />
        </activity>
        <activity
            android:name="controller.AddPlaceActivity"
            android:label="@string/title_activity_add_place" >
        </activity>
    </application>

</manifest>
